.title{
    margin-bottom:10px;
    border:2px solid black;
    color:white;
    font-size:12pt;
    width:960px;
    height:20px;
    background-color:red;
    text-align:center;
}

.goback{
    width:68px;
    float:left;
    background-color:black;
}

.logout{
    width:68px;
    float:left;
    background-color:black;
}

.room_name{
    margin-bottom:10px;
    font-size:20pt;
    width:960px;
    height:20px;
    text-align:center;
}

.host_div{
    height:28px;
}

.host_0{
    position:absolute;
    left: 105px;
    font-size:18pt;
}

.host_1{
	position:absolute;
	left:335px;
	font-size:18pt;
}

.host_2{
	position:absolute;
	left:565px;
	font-size:18pt;
}

.host_3{
	position:absolute;
	left:795px;
	font-size:18pt;
}

.hostimage{
    height:20px;
    width:20px;
    
}

.player_div{
    height:176px;
}

.player{
    height:164px;
    width:150px;
    border:2px solid black;
    float:left;
    position: absolute;
    margin-right:80px;
}

.player_img{
	height:164px;
	width:150px;
}

.cross{
	height:20px;
	width:20px;
	position:absolute;
	right: 0px;
}

.kick{
	height:20px;
	width:40px;
	text-align:center;
	font-size:12pt;
	border:2px solid red;
	position:absolute;
	right:0px;
}

.ping_div{
    height:20px;
    margin-bottom:80px;
}
.ping{
    font-size:12pt;
    width:150px;
    position:absolute;
    text-align:center;
    
}


.lower_div{
    width:960px;
	height:200px;
    
    
}
.left{
    position:absolute;
    left:61px;
    width:420px;
    height:200px;
    border:2px solid black;
}

.chat_content{
	height:180px;
}

.chat_type{
	height:20px;
	border:2px solid black;
	
}


.right{
    position:absolute;
    width: 390px;
    height:200px;
    left:521px;
    //border:2px solid black;
}

.map_div{
    height:150px;
	margin-bottom:20px;
    
}
.map_choose{
    width:150px;
    height:150px;
    float:left;
    border:2px solid red;
}
.map_img{
	width:150px;
	height:150px;
}

.back{
	position:absolute;
	bottom:5px;
	left:30px;
	width:15px;
	height:15px;
	
}

.next{
	position:absolute;
	bottom:5px;
	left:105px;

	width:15px;
	height:15px;
}


.map_setting{
    width:150px;
    height:150px;
    position:absolute;
    right:0px;
    border:2px solid red;
}

.setting_text{
	height:15px;
	font-size:12pt;

}



.second_div{
height:30px;
//border:2px solid red;
}

.map_change{
width:150px;
height:30px;
//border:2px solid blue;
float:left;
	
}

.State{
width:150px;
height:30px;
background-color:rgb(243, 0, 0);
position:absolute;
right:0px;
text-align:center;
font-size: 18pt;

}







.
