div.centerLobby{
	width:960px;
	margin: 0px auto;
	border: 2px solid;
	font-family: Century Gothic;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

div.title{
	margin-bottom:10px;
	color:white;
	font-size:10pt;
	width:960px;
	height:20px;
	background-color:C1272D;
	text-align:center;
	position: relative;
}

div.title-decorator{
	width: 100%;
	height: 2px;
	background-color: white;
	border-bottom: 2px solid C1272D;
}

.subtitle{
	font-size:8pt;
}

div.title div.logout{
	width:68px;
	float:right;
	background-color:7F1F26;
	cursor: default;
}

div.title div.logout:hover{
	background-color:FF3333
}

div.lobby{
	margin-top:6px;
	width:960px;
	height:530px;
}

div.lobby div.lobbyLeft{
	margin-left:27.5px;
	margin-right:27.5px;
	float:left;
	width:600px;
	height:530px
}

div.lobby div.lobbyLeft div.llbar{
	font-size:12pt;
	border:2px solid black;
	width:596px;
	height:21px;
}

div.lobby div.lobbyLeft div.llbar div.rm{
	float:left;
	width:296px;
	height:100%;
	text-align:center;
}

div.lobby div.lobbyLeft div.llbar div.np{
	float:left;
	width:111px;
	height:100%;
	text-align:center;
}

div.lobby div.lobbyLeft div.llbar div.ping{
	float:left;
	width:90px;
	height:100%;
	text-align:center;
}

div.lobby div.lobbyLeft div.space{
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	height:21px;
	text-align:center;
}

div.lobby div.lobbyLeft div.rmList{
	font-size:12pt;
	width:600px;
	height:265px;
}

div.lobby div.lobbyLeft div.rmList div.rm{
float:left;
width:296px;
text-align:center;
height:21px;
border:2px solid black;
}

div.lobby div.lobbyLeft div.rmList div.np{
	float:left;
	width:110px;
	text-align:center;
	font-size:16pt;
}

div.lobby div.lobbyLeft div.rmList div.ping{
	float:left;
	width:88px;
	text-align:center;
	font-size:16pt;
}
	
div.lobby div.lobbyLeft div.rmList div.button{
	float:right;
	text-align:center;
	font-size:12pt;
	width:96px;
	height:21px;
	cursor: default;
	color: 15ABCE;
	border:solid 15ABCE;
}

#join_button:hover{
	color: #00E6E6;
	border:solid #00E6E6;
}

div.lobby div.lobbyLeft div.rmList div.full{
	float:right;
	text-align:center;
	font-size:12pt;
	width:96px;
	height:21px;
	border:solid red;
	color: red;
	opacity: 0.7;
	cursor: default;
}

div.lobby div.lobbyLeft div.rmList div.space{
	padding-top:0px;
	padding-bottom:0px;
	width:600px;
	height:35px;
}

div.lobby div.lobbyLeft div.chat {
	border:2px solid black;
	width:596px;
	height:166px;
	background-color:blue;
	-webkit-user-select: initial;
}

div.lobby div.lobbyLeft div.chat div.content{
	float:left;
	height:147px;
	width:407px;
	border-right:4px solid black;
	background-color:yellow;
}

div.lobby div.lobbyLeft div.chat div.list{
	border-top:1px solid black;
	overflow:auto;
	float:left;
	height:146px;
	width:185px;
	background-color:red;
}

div.lobby div.lobbyLeft div.chat div.box{
border-bottom:2px solid black;
float:left;
font-size:14pt;
background-color:grey;
width:100%;
height:19px;
border-top:2px solid black;
}

div.lobby div.lobbyRight{
	margin-left:27.5px;
	margin-right:27.5px;
	float:left;
	width:250px;
	height:530px;
}

div.lobby div.lobbyRight div.profile{
	width:246px;
	height:246px;
}

div.lobby div.lobbyRight div.pn{
	padding-top:30px;
	height:73px;
	font-size:19pt;
	text-align:center;
}

div.lobby div.lobbyRight div.ps{
	border:2px solid black;
	width:246px;
	height:166px;
	font-size:12pt
}
